  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  
<form action='' method='post'>
	<table>
		<tr>
			<td>Fecha: </td><td><input type="text" name='fecha' id="datepicker" /></td>
		</tr>
		</tr>
			<td>Recinto: </td>
			<td>
				<select name='recinto'>
					<% @rds.each do |rd| %>
                        <option><%= rd.nombre%></option>
              		<% end %>
				</select>
			</td>
		</tr>
		<tr>
			<td>Cancha: </td>
			<td>
				<select name='cancha'>

                        <option>missing</option>

				</select>
			</td>
		</tr>
		<tr>
			<td>Hora inicio: </td>
			<td>
				<select name='hora_inicio'>
					<% $i = 0
					while $i < 24  do %>
   						<option value="<%= $i %>"><%= $i %></option>
   						<% $i +=1
					end %>
				</select>
			</td>
			<td>Minuto inicio: </td>
			<td>
				<select name='minuto_inicio'>
					<% $i = 0
					while $i < 60  do %>
   						<option value="<%= $i %>"><%= $i %></option>
   						<% $i +=30
					end %>
				</select>
			</td>
		</tr>
		<tr>
			<td>Hora termino: </td>
			<td>
				<select name='hora_termino'>
				<% $i = 0
					while $i < 24  do %>
   						<option value="<%= $i %>"><%= $i %></option>
   						<% $i +=1
					end %>
				</select>
			</td>
			<td>Minuto termino: </td>
			<td>
				<select name='minuto_termino'>
				<% $i = 0
					while $i < 60  do %>
   						<option value="<%= $i %>"><%= $i %></option>
   						<% $i +=30
					end %>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="4"><input type='submit' name='reservar' value='Reservar' onclick="aReservar()"></td>
		</tr>

 </form>
 
 <script>
 	function aReservar(){
 		alert("Iniciada la reserva");
 		
 	}
 </script>