<h3>Actualizar perfil</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@adm) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>

      <%= f.label :Nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
       <%= f.label :roles %>
      <%= f.text_field :roles, class: 'form-control' %>

      <%= f.submit "Guardar", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>