
 
 <div class="panel panel-default">
  <div class="panel-body">
      <div class="container">
   
   <h5> <%= link_to "Crear Nuevo Administrador", signup_path %></h5>
   
 </div>
      
  </div>
</div>
 
 


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
      <% @adms.each do |adm| %>
                        <tr>
                          <td> <%=  adm.nombre%>  </td>
                          <td> <%=  adm.email%>  </td>
                          <td> <%=  adm.roles%>  </td>
                          <td><%= link_to "Eliminar", adm, method: :delete,
                                  data: { confirm: "¿Está seguro de eliminar?" } %>  </td>
                       </tr>
    
              <% end %>
  </tbody>
</table>



