<h1>Ingresar Nuevo Administrador</h1>
<% valor=1000 
valor2=2%>
	<%if valor>valor2%>
<%=	valor%>
<%	else%>
<%=valor2%>
	<%end%>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@adm) do |f| %>
     <%= render 'shared/error_messages' ,object: f.object%>
     
      <%= f.label :Nombre %>
      <%= f.text_field :nombre, class: 'form-control' %> 

      <%= f.label :Email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :roles %>
     <%= f.select(:roles, [['Responsable de recinto', 1], ['Administrador', 0]]) %>
     

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %> 

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %> 

      <%= f.submit "Aceptar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

