
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      height: 0%;
      margin: auto;
  }
  </style>
  <div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img alt="Rails logo" src="/assets/rd1.jpg" />
        <div class="carousel-caption">
         
          <p><b>Recinto deportivo: Los dragones</b></p>
        </div>
      </div>

      <div class="item">
         <img alt="Rails logo" src="/assets/rd2.jpg" />
         
        <div class="carousel-caption">
         <p><b>Recinto deportivo: Las acacias</b></p>
        </div>
      </div>
    
      <div class="item">
         <img alt="Rails logo" src="/assets/rd1.jpg" />
        <div class="carousel-caption">
          <p><b>Recinto deportivo: Los robles</b></p>
        </div>
      </div>

      <div class="item">
       <img alt="Rails logo" src="/assets/rd2.jpg" />
        <div class="carousel-caption">
          <p>Recinto deportivo: Los dragones</p>
         
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<% names = Array.new
names[0]=2
names[1]=4
names[2]=48
%>
<%= names[2] %>


<%= form_tag({ controller: 'rvas', action: 'mostrarTabla' }, method: 'post') do %>
  
 <%= select_tag 'lista', options_from_collection_for_select(@rds.collect,:id, :nombre ) %>  
 


 
 
 
 
 

 

 
 
 
 <%= text_field_tag "fecha10", nil, :class => 'datepicker' %>
 

 <%= javascript_include_tag "application" %>
 
 
   
    
    
 <%= select_tag "dropdown_cases[]", options_for_select([ ["Bloque de 30 minutos", 1], ["Bloque de 1 hora", 2], ["Bloque de 1 hora y 30 minutos", 3], ["Bloque de 2 horas", 4], ["Bloque de 2 horas y 30 minutos", 5], ["Bloque de 3 horas", 6], ["Bloque de 3 horas y 30 minutos", 7]]) %>

<!-- Check Box -->
<!-- <%= check_box("puppy", "commands", {:multiple => true}, "sit", nil) %> 
<%= check_box("puppy", "commands", {:multiple => true}, "fetch", nil) %>
<%= check_box("puppy", "commands", {:multiple => true}, "roll_over", nil) %> -->
<!-- Fin Check Box -->

  <%= submit_tag "Buscar",class: "btn btn-primary" %>     


 
<% end %>








