<%= @this_is_the_dropdown_value  %>
  
 <% fechaSF= @fechaFormato %>
<% valor='rrrrr'%>
<%= fechaCF= @fecha %>
<% fechaCF %>
<%  #horas=['8','9','10','11','12','13','14','15','16','17','18','19','20'] %>
<%  horas=[8,9,10,11,12,13,14,15,16,17,18,19,20] %>
<% horasFormato= ['8:00:00','9:00:00','10:00:00','11:00:00','12:00:00','13:00:00','14:00:00','15:00:00','16:00:00','17:00:00','18:00:00','19:00:00','20:00:00'] %>
<%
vecHorasFormato=Array.new
m=0
horaInicioTabla2=8
horaFinalTabla2=20
while(horaInicioTabla2<=horaFinalTabla2)
 vecHorasFormato[m]=horaInicioTabla2
 m=m+1
 horaInicioTabla2=horaInicioTabla2+1
end
for i in 0..vecHorasFormato.length-1
%><%=vecHorasFormato[i] %>-<%
end
%>----------------------
<table id="t01">
    <tr>
        <td id="td02" ><p>Tipo Cancha</p></td>
    <td><b>8:00</b></td>
     <td><b>9:00</b></td>
     <td><b>10:00</b></td>
     <td><b>11:00</b></td>
     <td><b>12:00</b></td>
     <td><b>13:00</b></td>
     <td><b>14:00</b></td>
     <td><b>15:00</b></td>
     <td><b>16:00</b></td>
     <td><b>17:00</b></td>
     <td><b>18:00</b></td>
     <td><b>19:00</b></td>
     
  
  </tr>


  
  
<% @canchas.each do |c|
    %> <tr> <td><b><%= c.tipo %></td></b> <%
   cont=0
               
    
          @reservas.each do |r|
                
                  if r.cancha_id == c.id
                
                  cont += 1
                  end
            end
            
            
             %><%#para evitar casos de indice negativo y quitarle el valor extra q se le asigna   %><%
            if cont>=1
             cont=cont-1
              vec= Array.new(cont)
             else
              vec=Array.new(cont)
            end
            
            
           #sacando los ocupados
            
            cont=0
            @reservas.each do |r|
                 
                  if r.cancha_id == c.id
                  vec[cont]=r.hora.hour.to_i
                  cont +=  1
                  end
            end
           
            
            
            
            
            
 #ordenando la lista         
n = vec.length

for j in 0..n-1
    for i in 0..n - 2 - j
           if vec[i]>vec[i+1]
                tmp = vec[i]
                vec[i] = vec[i+1]
                vec[i+1] = tmp
          end
     end
end
            
            
            
           
           flag=0
           valor=0
             
 for i in 0..11
  for j in 0..vec.length-1
     if horas[i]==vec[j]
     flag=1
     valor= vec[j]
     end
  end
 if flag==1
 %><td><%= "Ocu" %></td><%
 else
 %><td><%= link_to 'valor',{ :controller => "rvas", :action => "new", :nombre => c.tipo,  :id_cancha => c.id, :hora => horasFormato[i], :fecha => fechaCF}%></td><%
 end
 flag=0
 valor=0
end                  
                  
                  
                 
           
%></tr><%
end %>
</table>
<%# desde aca %>
  
  
  
  <%# hasta aca iria el cosigo probado ayer %>
  
  
  
  
  
  
  
 <%# cambio  el anyterior es el que funciona
 %>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <%
   # a=[1,1,1,0,0,1,1,1,1,1,0,1]
   a=[1,1,1,1,1,1,1,1,1,1,1,1]
  # a=[0,0,1,1,1,1,1,0,0,1,0,0]
 # a=[1,1,1,0,0,1,1,1,1,1,0,1]
#a=[1,1,1,1,1,1,1,1,1,1,1,1]
#a=[0,0,0,0,0,0,0,0,0,0,0,0]
    
    bp=4
    b=0
    ct=11
    i=0
    c=2
    cent=0
    j=1
    f=0
    %><table id="t01">
    <tr>
        <td ><p>Tipo Cancha</p></td>
    <td><b>8:00-9:00 </b></td>
     <td><b> 9:00-10:00 </b></td>
     <td><b> 10:00-11:00 </b></td>
     <td><b>11:00-12:00</b></td>
     <td><b>12:00-13:00</b></td>
     <td><b>13:00-14:00</b></td>
     <td><b>14:00-15:00</b></td>
     <td><b>15:00-16:00</b></td>
     <td><b>16:00-17:00</b></td>
     <td><b>17:00-18:00</b></td>
     <td><b>18:00-19:00</b></td>
     <td><b>19:00-20:00</b></td>
     
  
  </tr>
    
    
 <%# ESTE FOR FORMA LAS FILAS DE LA TABLA, pro cada fila se reinicia el aux e i y se incrementa f %>
<% for f in 0..2 %> 
<%hi=0
hf=0%>
<% aux=0 
    i=0 %>
 <tr><td></td><%
 while i<=ct do
  
    if a[i]==0
        aux=i
        b=1
        c=0
          while c==0 do
           i=i+1
            if i<=ct
                     if a[i]==0
                          b=b+1
                     else
                          %> <% if b==1 %><td colspan=1 id="td02">ocupado</td>
                                <% elsif b==2 %><td colspan=2 id="td02">ocupado</td>
                                <% elsif b==3 %><td colspan=3 id="td02">ocupado</td>
                                <% elsif b==4 %><td colspan=4 id="td02">ocupado</td>
                                <% elsif b==5 %><td colspan=5 id="td02">ocupado</td>
                                <% elsif b==6 %><td colspan=6 id="td02">ocupado</td>
                                <% elsif b==7 %><td colspan=7 id="td02">ocupado</td>
                                <% elsif b==8 %><td colspan=8 id="td02">ocupado</td>
                                <% elsif b==9 %><td colspan=9 id="td02">ocupado</td>
                                <% elsif b==10 %><td colspan=10 id="td02">ocupado</td>
                                <% elsif b==11 %><td colspan=11 id="td02">ocupado</td>
                                <% elsif b==12 %><td colspan=12 id="td02">ocupado</td>
                                <%end%> <%
                           c=1
                           #ACA ASIGANMOS NUEVOS VALORES AL ARREGLO para dejarlos 0,1,
                            while(aux<i)
                              a[aux]=0
                              aux=aux+1
                            end
                     end
            else 
                    c=1
                    %> <% if b==1 %><td colspan=1 id="td02">ocupado</td>
                                <% elsif b==2 %><td colspan=2 id="td02">ocupado</td>
                                <% elsif b==3 %><td colspan=3 id="td02">ocupado</td>
                                <% elsif b==4 %><td colspan=4 id="td02">ocupado</td>
                                <% elsif b==5 %><td colspan=5 id="td02">ocupado</td>
                                <% elsif b==6 %><td colspan=6 id="td02">ocupado</td>
                                <% elsif b==7 %><td colspan=7 id="td02">ocupado</td>
                                <% elsif b==8 %><td colspan=8 id="td02">ocupado</td>
                                <% elsif b==9 %><td colspan=9 id="td02">ocupado</td>
                                <% elsif b==10 %><td colspan=10 id="td02">ocupado</td>
                                <% elsif b==11 %><td colspan=11 id="td02">ocupado</td>
                                <% elsif b==12 %><td colspan=12 id="td02">ocupado</td>
                                <%end%> <%
                             while(aux<i)
                              a[aux]=0
                              aux=aux+1
                            end
                    
           end
         
        end
         b=0
  elsif a[i]==1
     aux=i
     hi=i
     if bp==1
       i=i+1
      %><td id="td01" colspan="1">disponible</td><%
     else
                       if f>0
                           if i==0
                            %><td colspan="1"></td><%
                            a[i]=2
                            i=i+1
                            hi=i
                            aux=aux+1
                          elsif a[i-1]==2 || a[i-1]==0
                           %><td colspan="1"></td><%
                            a[i]=2
                            i=i+1
                            hi=i
                            aux=aux+1
                          else
                           i=i
                          end
                      end
       c=1
       h=1
       b=1
      
         while(c==1) do
          i=i+1
             if i<=ct
                if a[i]==1 || a[i]==2
                 h=h+1
                 b=b+1
                   if h==bp
                    hf=hi+bp
                   %><%=horasFormato[hi]%>*<%=horasFormato[hf]%><%
                       %><% if b==1 %><td colspan=1 id="td01">Disponible</td>
                                <% elsif b==2 %><td colspan=2 id="td01">Disponible</td>
                                <% elsif b==3 %><td colspan=3 id="td01">Disponible</td>
                                <% elsif b==4 %><td colspan=4 id="td01">Disponible</td>
                                <% elsif b==5 %><td colspan=5 id="td01">Disponible</td>
                                <% elsif b==6 %><td colspan=6 id="td01">Disponible</td>
                                <% elsif b==7 %><td colspan=7 id="td01">Disponible</td>
                                <% elsif b==8 %><td colspan=8 id="td01">Disponible</td>
                                <% elsif b==9 %><td colspan=9 id="td01">Disponible</td>
                                <% elsif b==10 %><td colspan=10 id="td01">Disponible</td>
                                <% elsif b==11 %><td colspan=11 id="td01">Disponible</td>
                                <% elsif b==12 %><td colspan=12 id="td01">Disponible</td>
                                <%end%> <%
                            
                    c=0
                    i=i+1
                           while(aux<i)
                              a[aux]=1
                              aux=aux+1
                            end
                   end
                   
                else
                         while(j<=b) do  
                            
                                 %><td colspan="1"> </td><%
                                 j=j+1
                         end
                          while(aux<i)
                              a[aux]=2
                              aux=aux+1
                            end
                 c=0
                end
             else
                               
                                 while(j<=b) do  
                            
                                 %><td colspan="1"> </td><%
                                 j=j+1
                               end
                             while(aux<i)
                              a[aux]=2
                              aux=aux+1
                            end
              c=0
             end
         end
      b=0
      h=0
      j=1
     end
    
     
     else a[i]==2
        aux=i
        b=1
        c=2
          while c==2 do
           i=i+1
            if i<=ct
                     if a[i]==2
                          b=b+1
                     else
                           while(j<=b) do  
                            
                                 %><td colspan="1"> </td><%
                                 j=j+1
                         end
                           c=0
                           #ACA ASIGANMOS NUEVOS VALORES AL ARREGLO para dejarlos 0,1,
                            while(aux<i)
                              a[aux]=2
                              aux=aux+1
                            end
                     end
            else 
                    c=0
                        while(j<=b) do  
                            
                                 %><td colspan="1"> </td><%
                                 j=j+1
                         end
                             while(aux<i)
                              a[aux]=2
                              aux=aux+1
                            end
                    
           end
         
        end
         b=0
         j=1
   
  end
  
 end
%>
<%= button_to "Nueva busqueda", rvas_path, method: :get %>
     
   
  %></tr>
        
        
        
    <% end %>
  
  
  
  
  
  
  
  
  
  
 
  
     

  </table>
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 