<table>
<tr>
<td>

<h4>Ingresar Nueva Reserva </h4>
     <p>Cancha: </p> 
     <div class="panel panel-default"> <%=  @tipoCancha%></div> 
    <p>Fecha: </p> 
    <div class="panel panel-default"><%= @fecha%></div>
    <p> Hora:</p> 
    <div class="panel panel-default"><%= @hora%></div>
    <p>Total:</p>
    <div class="panel panel-default"><%= @valor%></div>
  

     
     
     

      
<%= form_tag(created_path ,:id =>"nomtel", :method=> "get") do %>

    <p>Nombre: <%= text_field_tag ("nombre")%></p> 
    <p>Telefono:  <%= text_field_tag("telefono")%></p> 
    
    
   
    
    <%= hidden_field_tag "fecha", @fecha %>
    <%= hidden_field_tag "hora", @hora %>
    <%= hidden_field_tag "valor", @valor %>
    <%= hidden_field_tag "cancha_id", @id_cancha %>


<%= submit_tag("Enviar") %>

<% end %>
</td>
<td><img alt="Rails logo" src="/assets/recintodep.jpg" /></td>
</tr>
</table>