  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  
<form action='' method='post'>
	<table>
		<tr>
			<td>Fecha: </td><td><input type="text" name='fecha' id="datepicker" /></td>
		</tr>


		<tr>
			<td>Hora de reserva: </td>
			<td>
				<select name='hora_inicio'>
   					<option>8:30 - 10:00</option>
   					<option>10:00 - 11:30</option>
   					<option>11:30 - 13:00</option>
   					<option>14:00 - 15:30</option>
   					<option>15:30 - 17:00</option>
   					<option>17:00 - 18:30</option>
   					<option>18:30 - 20:00</option>
				</select>
			</td>

		</tr>

		<tr>
			<td colspan="4"><input type='submit' name='reservar' value='Reservar'></td>
		</tr>
    
 </form>