<h3>Actualizar cancha</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@cancha) do |f| %>
      

      <%= f.label :tipo %>
      <%= f.text_field :tipo %>

    <%= f.label :estado %>
      <%= f.text_field :estado %>

      <%= f.submit "Guardar", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>