Reservas:



<%= form_tag(created_path ,:id =>"nomtel", :method=> "get") do %>
Nombre:
    <%= text_field_tag ("nombre")%>
Telefono:
    <%= telephone_field_tag("telefono", "")%>
    <%= hidden_field_tag "canchaid", @id %>
    <%= hidden_field_tag "hora1", @hora %>


<%= submit_tag("Enviar") %>
<% end %>
https://link-to-matcort.c9users.io/


<%= @id %>
<%= @hora %>