
<div class="panel panel-default">
  <div class="panel-body">
      <div class="container">
   
   <h5> <%= link_to "Crear Nuevo Recinto Deportivo", signuprd_path %></h5>
   
 </div>
      
  </div>
</div>
 
 


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Responsable</th>
      <th>Acciones</th>
      <th>Canchas</th>
    </tr>
  </thead>
  <tbody>
      <% @rds.each do |rd| %>
                        <tr>
                          <td> <%= rd.nombre%> </td>
                          <td> <%= rd.direccion%> </td>
                          <td> <%= rd.responsable %> </td>
                          <td><%= link_to "Editar", edit_rd_path(rd)  %>
                          
                          <%= link_to "Eliminar", rd, method: :delete,
                                  data: { confirm: "¿Está seguro de eliminar?" } %> </td>
                           <td> <%= link_to "ver canchas", rd %></td>
                       </tr>
    
      <% end %>
  </tbody>
</table>
