
<table>
<div class="panel panel-default">
<div class="row" >
  <div class="col-sm-4">
<%= form_tag({ controller: 'rds', action: 'mostrarTabla' }, method: 'post') do %>
 <tr><td>Recinto deportivo</td><td>Fecha</td></tr> 
 <tr><td><%= select_tag 'lista', options_from_collection_for_select(@rds.collect,:id, :nombre ) %>  </td>
 <td><%= date_select("fecha", 'valoresFecha', :start_year => Date.current.year , )%></td></tr> 
  <td><%= check_box_tag 'accept'%></td> yyyyyyyyyyy
 
  <tr><td><%= submit_tag "Buscar",class: "btn btn-primary" %></td>  </tr>      


 
<% end %></div></div>

</div>

</table>


GHAGHSGHAGHSGHSAGHGHHG