 <% fechaSF= @fechaFormato %>
<% fechaSF %>
<% fechaCF= @fecha %>
<% fechaCF %> 
<%  #horas=['8','9','10','11','12','13','14','15','16','17','18','19','20'] %>
<%  horas=[8,9,10,11,12,13,14,15,16,17,18,19,20] %>

<% horasFormato= ['8:00:00','9:00:00','10:00:00','11:00:00','12:00:00','13:00:00','14:00:00','15:00:00','16:00:00','17:00:00','18:00:00','19:00:00','20:00:00'] %>
<table style="width:100%">
    <tr>
        <td>Tipo Canchaaaaa</td>
    <td>8:00-9:00</td>
    <td>9:00-10:00</td> 
    <td>10:00-11:00</td>
     <td>11:00-12:00</td>
    <td>12:00-13:00</td> 
    <td>13:00-14:00</td>
     <td>14:00-15:00</td>
    <td>15:00-16:00</td> 
    <td>16:00-17:00</td>
     <td>-17:00-18:00</td>
    <td>18:00-19:00</td> 
    <td>19:00-20:00</td>
  </tr>
<% @canchas.each do |c|
    %> <tr> <td><%= c.tipo %></td> <%
   cont=0
  
    
          @reservas.each do |r|
                 
                  if r.cancha_id == c.id
                 
                  cont += 1
                  end
            end
            
            
             %><%#para evitar casos de indice negativo y quitarle el valor extra q se le asigna   %><%
            if cont>=1
             cont=cont-1
              vec= Array.new(cont)
             else
              vec=Array.new(cont)
            end
            
            
           
             %><% cont  %><%
            cont=0
            @reservas.each do |r|
                 
                  if r.cancha_id == c.id
                  vec[cont]=r.hora.hour.to_i
                  cont +=  1
                  end
            end
           
            
            
            
            
            
          
n = vec.length

for j in 0..n-1
    for i in 0..n - 2 - j
           if vec[i]>vec[i+1]
                tmp = vec[i]
                vec[i] = vec[i+1]
                vec[i+1] = tmp
          end
     end
end
            
            
            
           
           flag=0
           valor=0
             
 for i in 0..11
  for j in 0..vec.length-1
     if horas[i]==vec[j]
     flag=1
     valor= vec[j]
     end
  end
 if flag==1
 %><td><%= "Ocupado" %></td><%
 else
 %><td><%= link_to 'disponible',{ :controller => "rvas", :action => "new", :nombre => c.tipo, :id_cancha => c.id, :hora => horasFormato[i], :fecha => fechaCF}%></td><%
 end
 flag=0
 valor=0
end                  
                  
                  
           
           
%></tr><%
end %>


 </table>
 
  
 
 

 
 