<h1>Ingresar Nuevo Recinto deportivo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@rd) do |f| %>
     <%= render 'shared/error_messages',object: f.object %>
     
      <%= f.label :Nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>
      
      <%= f.label :Direccion %>
      <%= f.text_field :direccion, class: 'form-control' %>
      
      <%= f.label :Responsable %>
      <%= f.text_field :responsable, class: 'form-control' %>
      
      
     
      <%= f.submit "Aceptar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>