    
<h2>Recinto deportivo:  <%=@rd.nombre %></h2>

 
     
<table>
  <thead>
    <tr>
      <th>Tipo de Cancha</th>
      <th>Estado</th>
      <th>Acciones</th>
      </tr>
  </thead>
  <tbody>
        <% @canchas.each do |f|%>
                        <tr>
                          <td><%= f.tipo %> </td>
                          <td><%= f.estado %></td>
                          <td>  
                          <%= link_to 'Eliminar', [f.rd, f],
               method: :delete,
               data: { confirm: 'Esta seguro de eliminar?' } %> </td>
      <%end %>    
                       </tr>
    
             
  </tbody>
</table>
 
<div class="row" >
  <div class="col-sm-4">
    

<h2>Ingresar Nueva Cancha</h2>
    <%= form_for([@rd,@rd.canchas.build]) do |f| %>
    
     
      <%= f.label :tipo %>
      <%= f.text_field :tipo, class: 'form-control' %> 
      
      <%= f.label :estado %>
      <%= f.text_field :estado, class: 'form-control' %> 

      <%= f.submit "Aceptar", class: "btn btn-primary" %>
    <% end %>  
 </div>
</div>        
 
    

 







