<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
   
    <%= link_to "Municipalidad de la Reina", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
         <% @current_user = current_adm %>
                  
       
       <% if logged_in? %>
       
       <% if @current_user.roles==0%>
        <li><%= link_to "Mi perfil", edit_adm_path(current_adm)  %></li>
      <%end%>
        <li><%= link_to "Salir", logout_path, method: :delete  %></li>
        
     
      <% end %>
      </ul>
    </nav>
                           
  </div>
  
</header>