<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    
    
     
    
    
    
            <% @current_user = current_adm %>
                  <% if logged_in? && @current_user.roles==0%>
                         <div class="container">
                          <h3></h3>
                          <ul class="nav nav-tabs">
                            
                            <li><%= link_to "Administrador", adms_path %></li>
                            <li><%= link_to "Recintos deportivos", rds_path %></li>
                            
                          
                            
                            <li><%= link_to "Reserva", rvas_path %></li>
                            
                            <li><a href="#">Facturación</a></li>
                          </ul>
                        </div>
                  <% end %>
    <%= render 'layouts/header' %>



    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        
      <% end %>
      
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
  </body>
</html>